@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fafafa;
  height: 100vh;
}

.App-header .h6 {
  font-weight: medium;
  font-size: 0.8em;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.expand-button {
  position: top;
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 20px; /* Adjust the distance from the left */
  z-index: 1001; /* Ensure it's above the sidebar */
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  appearance: none; /* Removes default dropdown arrow in some browsers */
  color: #fafafa;
  margin: 20px auto; /* Center the container and provide some space */
}

.expand-button:hover {
  background-color: #2b2b2b;
}

.content-wrapper {
  align-items: center;
}

.centered-element {
  position:absolute;
  left: 35%;
  z-index: 9;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px; /* Or any preferred width */
  background-color: #000000;
  color: #fafafa;
  transition: width 0.6s ease; /* Smooth transition for width change */
  z-index: 1000; /* Ensure it's above other content */
  /* Additional styling as needed */
}

.sidebar button:hover {
  background-color: #2b2b2b;
}

.sidebar-hidden{
  position: fixed;
  top: 0;
  left: -150px;
  height: 100%;
  width: 0px; /* Or any preferred width */
  background-color: #000000;
  color: #fafafa;
  transition: width 0.6s ease; /* Smooth transition for width change */
}

.sidebar-hidden button {
  width: 30%;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  appearance: none; /* Removes default dropdown arrow in some browsers */
  color: #fafafa;
  margin: 20px auto; /* Center the container and provide some space */
}

.centered-content {
  display: flex;
  height: 100%; /* Optional: Adjust the height if needed */
}

.dropdown {
  padding: 10px;
  background-color: #000000;
  color: #fafafa;
  transition: all 0.3s ease; /* Add smooth transition for width change */
  justify-content: center;
}

.dropdown select:hover {
  background-color: #2b2b2b;
}

.dropdown select {
  width: 50%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  appearance: none; /* Removes default dropdown arrow in some browsers */
  align-items: center;
  justify-content: center;
  color: #fafafa;
  margin: 20px auto; /* Center the container and provide some space */
}

.dropdown select:focus {
  outline: none; /* Remove focus outline */
  border-color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.slider-container {
  width: 80%; /* Set the width of the container */
  margin: 20px auto; /* Center the container and provide some space */
}

/* Slider track style */
input[type="range"] {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #454545; /* Darker slider track */
  outline: none;
}

/* Slider thumb style */
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e45b00; /* Lighter slider thumb */
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.below-video {
  margin-top: 20px; /* Adjust this margin as needed */
  /* Other styles for your next <div> */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#webcamCanvasStyle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  width: 640px; /* replace with your camWidth value */
  height: 480px; /* replace with your camHeight value */
}

.h6Style {
  font-weight: medium;
  font-size: 1em;
  text-align: center;
}

.h6SmallStyle {
  font-weight: medium;
  font-size: 0.8em;
  text-align: center;
}

.flexStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexInnerStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* replace with your desired value */
}